/* ARTICLE */

.aboutMe {
  text-align: center;
  margin-top: 80px;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
.aboutMe--colorWhite {
  color: rgb(204, 204, 204);
}
.article__workHobby {
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
.article__workHobby--nickname {
  color: rgb(14, 9, 90);
}

/* TABLE */

.table__captionMargin {
  margin-bottom: 10px;
  font-weight: bolder;
}
.table__margin {
  font-family: "Montserrat", sans-serif;
  margin-left: 14px;
  margin-right: 14px;
}
.table__tableCell {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.table__tableCell--headerColor {
  background-color: rgba(105, 206, 209, 0.26);
}
.table__tableCell--driverBackground {
  background-color: rgba(0, 65, 245, 0.082);
}
.table__tableRow:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.432);
}
.table {
  overflow-x: auto;
}
