.aboutMe {
    text-align: center;
    margin-top: 80px;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
  }
  .aboutMe--colorWhite {
    color: rgb(204, 204, 204);
  }
  .article__workHobby {
    font-family: "Montserrat", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
  .article__workHobby--nickname {
    color: rgb(14, 9, 90);
  }