
.footerBox__listStyle {
  margin: 5px 0;
  list-style: none;
}
.footerBox__decoration {
  text-decoration: none;
}
.footerBox__decoration--textBorder {
  margin-left: 5px;
  margin-bottom: -4px;
}
.footerBox__decoration:visited {
  color: black;
}
.footerBox {
  margin-bottom: 40px;
}
.footerBox__copyRight {
  margin-top: 20px;
  font-size: 12px;
  margin-bottom: 0px;
}
.footerBox__contact {
  line-height: 1.2;
  margin: auto;
  padding: auto;
  font-size: 10px;
}
